<section>
  <div class="card-footer">
    <hr style="width: 75%;background-color: rgb(43, 43, 43)!important;color: rgb(43, 43, 43)!important;border: 5px solid rgb(43, 43, 43)!important;border-radius:25px;margin-left: 12%;">
    </hr>
    <div class="card-footer-container">
      <div class="card-footer-container-link">
        <div class="card-footer-container-link-content">
          <h4 style="margin-top:5%; text-align: center;">
            <img src="<%= bot.user.displayAvatarURL({size: 4096}) %>" style="width: 9%;margin-top: -0.5%; animation: jumpUp 0.6s infinite;"> <span style="font-size: 40px;"><%= bot.user.username %></span>
            <br><h5 style="text-align: center;">
            <a href="<%= bot.dashboard.support %>" target="_blank" style="font-size: 12px; color: #888a9b!important;text-decoration: none;">&copy; Copyright ItsHeroPH | All rights served.</a><br><br>
            <a href="<%= bot.dashboard.support %>" target="_blank" style="font-size: 20px; color: #828cff!important;text-decoration: none;">Developed by <code>ItsHeroPH#8818</code></a>
            </h5>
          </h4>
        </div>
      </div>
      <div class="card-footer-container-link">
        <div class="card-footer-container-link-content">
          <h1 style="display: inline; font-size: 15px;">Useful links <p><a href="/">Home</a><br><a href="/dashboard">Dashboard</a><br><a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id %>&permissions=8&scope=bot%20applications.commands">Invite</a><br><a href="<%= bot.dashboard.support %>">Support</a><br><br></p></h1>
        </div>
      </div>
      <div class="card-footer-container-link">
        <div class="card-footer-container-link-content">
          <h1 style="display: inline; font-size: 15px;">Contact Us<p>ItsHeroPH#8818<br><a href="<%= bot.dashboard.support %>">Discord Server</a><br><br><br><br></p></h1>
        </div>
      </div>
    </div>
    <hr style="width: 75%;background-color: rgb(43, 43, 43)!important;color: rgb(43, 43, 43)!important;border: 5px solid rgb(43, 43, 43)!important;border-radius:25px;margin-left: 12%;">
    </hr>
  </div>
</sectiom>